.nav{
    display: flex;
    align-items: center;
    width: 100%;
   
    background-color: antiquewhite;
}
.nav-contents{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    list-style: none;
}


li{

    font-size: 1.2rem;
}



@media screen and (max-width: 480px) {
    
    .nav-contents{

        flex-direction: column;
    }

  }